//Colors
$Color-palette: (
    primary-color: #9356DC,
    secondary-color: #393839,
    tertiary-color: #99E2D0,
    text-tertiary-color: #008766,
    btn-text: white,
    btn-background:linear-gradient(175deg, #9356DC 0%, #FF79DA 100%),
    gray-tones: (text:#353535, bg-location:#EAEAEA, background:#F6F6F6, ),
);

//Font-family
$font-family-titles: 'Shrikhand', cursive;
$font-family-text: 'Roboto', sans-serif;