/*Header-restaurant pages*/
.header--page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__goback {
        position: relative;
        left: 17px;
        z-index: 200;
    }
}

.header__logo--page {
    box-shadow: none;
    position: relative;
    z-index: 1;
}

//Banners

.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//Principal section

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -35px;
    background-color: map-get($Color-palette, grey-tones, background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 32px 13px 40px;
    gap: 40px;
    margin-bottom: -35px;

    @include media-desktop {
        max-width: 1055px;
        width: 45%;
        margin: 0 auto -35px;
        padding: 51px 210px 40px;
    }

    &__header,
    &__div {
        margin: auto;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        &__title {
            font-size: 28px;
            font-family: $font-family-titles;
            font-weight: 400;
        }
    }

    &__div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        opacity: 0;
        width: 100%;
        /*for the transition when the page load*/

        &__title {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 5px;
            border-bottom: solid map-get($Color-palette, tertiary-color) 2px;
            width: 40px;
        }

        &__article {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 15px;
            padding: 15px;

            &__div {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-shrink: 2;
            }

            &__title {
                font-size: 18px;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;

                &__t {
                    font-size: 15px;
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 15px;

                }


                &__p {
                    font-size: 15px;
                    font-weight: 700;
                }
            }

        }
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 70px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: map-get($Color-palette, tertiary-color);
        margin: -15px -15px -15px 15px;
        animation-name: unchecked;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        visibility: hidden;
        flex-shrink: 0;
    }
}


//animation sections
.div {
    &__starter {
        animation: fadeIn;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    &__main {
        animation: fadeIn;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    &__dessert {
        animation: fadeIn;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
}

.menu__div__article:hover {
    .menu__checkbox {
        animation-name: checked;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        visibility: visible;

    }
}