* {
    font-family: $font-family-text;
    color: black;
}


.font-family-titles {
    font-family: $font-family-titles;
    font-size: 28px;
    font-weight: 400;
}

.header__location__text {
    font-size: 16px;
    color: map-get($Color-palette, gray-tones, text);
    font-weight: 500;
}

.titles-section {
    font-size: 24px;
    font-weight: 700;
}

.homepage-presentation__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: map-get($Color-palette, gray-tones, text);
}

.btn-action {
    color: map-get($Color-palette, btn-text);
    font-size: 16px;
    font-weight: 500;
}


.instructions__list__component__numbers {
    font-size: 14.182px;
    font-weight: 500;
    color: map-get($Color-palette, gray-tones, background)
}


.instructions__list__component__text {
    font-size: 16px;
    font-weight: 500;
}

.restaurant__card {
    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 300;
    }
}