//Btn main action
.btn-action {
    background: map-get($Color-palette, btn-background);
    padding: 13px 19px;
    appearance: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: map-get($Color-palette, btn-text);
    font-size: 16px;
    font-weight: 500;

    &--order {
        padding: 15px 48px;
    }
}


//Btn coeur reset
.heart-btn {
    appearance: none;
    background-color: transparent;
    border: none;

    &__icon:hover path {
        animation: animation-like;
        animation-fill-mode: forwards;
    }
}