/***************footer all pages*************/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 22px 25px;
    background-color: map-get($Color-palette, gray-tones, text);

    &__logo {
        color: white;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7px;

        &__component {
            display: flex;
            gap: 11px;

            &__text {
                color: white;

                &--bold {
                    font-weight: 500;
                }
            }
        }
    }

}