//loader

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}

@keyframes visible-loader {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }

}

//Restaurant sections - appear one after one

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//Restaurant sections - checkbox

@keyframes checked {
    from {
        width: 0;
    }

    to {
        width: 60px;
    }
}

@keyframes unchecked {
    from {
        width: 60px;
        visibility: visible;
    }

    to {
        width: 0;
        visibility: hidden;
    }
}