//loader

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}

@keyframes visible-loader {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }

}

//Animation boutons gradient

.btn-action {
    transition: all $anim-dur-btn ease;

    &:hover {
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2)
    }
}