//loader

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}

@keyframes visible-loader {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }

}

//Animation boutons gradient

.btn-action {
    transition: all $anim-dur-btn ease;

    &:hover {
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2)
    }
}


@keyframes animation-like {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

@keyframes animation-unlike {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(0);
    }

}

//Restaurant sections - appear one after one

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}