body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

* {
    font-family: $font-family-text;
    color: black;
}


.font-family-titles {
    font-family: $font-family-titles;
    font-size: 28px;
    font-weight: 400;
}