* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

.font-family-titles {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}
@keyframes visible-loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.btn-action {
  transition: all 1000ms ease;
}
.btn-action:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

@keyframes animation-like {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation-unlike {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.btn-action {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  padding: 13px 19px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.btn-action--order {
  padding: 15px 48px;
}

.heart-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}

.heart-btn__icon .heart-fill {
  transform-origin: center;
  animation-name: animation-unlike;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  transform: scale(0);
}

.heart-btn__icon:hover .heart-fill {
  transform-origin: center;
  animation-name: animation-like;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.container-loader {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 110vh;
  position: fixed;
  z-index: 100;
  background-color: #F6F6F6;
  animation: visible-loader 3000ms;
  animation-delay: 250ms;
}
.container-loader__loader {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container-loader__loader__bar {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  opacity: 0;
  height: 100%;
  width: 5vw;
  animation-name: bars;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.container-loader__loader__bar--1 {
  animation-delay: 250ms;
}
.container-loader__loader__bar--2 {
  animation-delay: 500ms;
}
.container-loader__loader__bar--3 {
  animation-delay: 750ms;
}
.container-loader__loader__bar--4 {
  animation-delay: 1000ms;
}

/***************header all pages*************/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .header__logo {
    box-shadow: none;
  }
}

/***************footer all pages*************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 30px;
    padding: 30px 25px;
    height: 54px;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .footer__logo {
    margin: 0 25px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.footer__list__component {
  display: flex;
  gap: 11px;
}
@media (min-width: 1024px) {
  .footer__list__component {
    padding: 0 10px;
  }
}
.footer__list__component__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer__list__component__text--bold {
  font-weight: 500;
}

/*Header-homepage*/
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: #EAEAEA;
  position: relative;
  z-index: 1;
}
.header__location__text {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}

/*Presentation-homepage*/
.homepage-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  padding: 39px 0 57px;
}
@media (min-width: 1024px) {
  .homepage-presentation {
    gap: 18px;
    padding: 30px 0;
  }
}
.homepage-presentation__h1 {
  padding: 0 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .homepage-presentation__h1 {
    font-size: 40px;
  }
}
.homepage-presentation__subtitle {
  padding: 0 30px 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
@media (min-width: 1024px) {
  .homepage-presentation__subtitle {
    padding: 0;
  }
}

/*Instruction section -homepage*/
@media (min-width: 1024px) {
  .instruction-section {
    margin: auto;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 20px 0;
  margin-bottom: 68px;
}
@media (min-width: 1024px) {
  .instructions {
    padding: 50px 0;
    margin-bottom: 0;
    margin: auto;
  }
}
.instructions__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}
.instructions__list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding-left: 10px;
}
@media (min-width: 1024px) {
  .instructions__list {
    flex-direction: row;
  }
}
.instructions__list__component {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 29px 38px 29px 0;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .instructions__list__component {
    width: auto;
  }
}
.instructions__list__component__numbers {
  position: absolute;
  left: -10px;
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  font-size: 14.182px;
  font-weight: 500;
  color: #F6F6F6;
}
.instructions__list__component__icon {
  margin-left: 33px;
}
.instructions__list__component__text {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

/*Restaurant -homepage*/
.restaurant-section {
  padding: 54px 20px 66px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurant-section {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant {
    gap: 28px;
    margin: auto;
    box-sizing: border-box;
    width: auto;
  }
}
.restaurant__title {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .restaurant__title {
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (min-width: 1024px) {
  .restaurant__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.restaurant__container__card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 18px;
}
@media (min-width: 1024px) {
  .restaurant__container__card {
    flex-basis: 45%;
    width: auto;
    padding: 5px;
  }
}
.restaurant__container__card__img {
  position: relative;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
}
.restaurant__container__card__nametag-new {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__container__card__title {
  margin: 13px 0 5px 13px;
  font-size: 18px;
  font-weight: 700;
}
.restaurant__container__card__subtitle {
  margin: 0 0 12px 13px;
  font-size: 17px;
  font-weight: 300;
}
.restaurant__container__card__heart-btn {
  position: absolute;
  right: 15px;
  bottom: 25px;
}/*# sourceMappingURL=main.css.map */