* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

.font-family-titles {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}
@keyframes visible-loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.btn-action {
  transition: all 1000ms ease;
}
.btn-action:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

@keyframes animation-like {
  from {
    fill: transparent;
  }
  to {
    fill: url(#btn-gradient) #9356DC;
    stroke: none;
  }
}
.btn-action {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  padding: 13px 19px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.btn-action--order {
  padding: 15px 48px;
}

.heart-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}
.heart-btn__icon:hover path {
  animation: animation-like 0.5s;
  animation-fill-mode: forwards;
}

.container-loader {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 110vh;
  position: fixed;
  z-index: 100;
  background-color: #F6F6F6;
  animation: visible-loader 7000ms;
  animation-delay: 375ms;
}
.container-loader__loader {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container-loader__loader__bar {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  opacity: 0;
  height: 100%;
  width: 5vw;
  animation: bars 1500ms;
  animation-fill-mode: backwards;
  animation-iteration-count: 4;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.container-loader__loader__bar--1 {
  animation-delay: 375ms;
}
.container-loader__loader__bar--2 {
  animation-delay: 750ms;
}
.container-loader__loader__bar--3 {
  animation-delay: 1125ms;
}
.container-loader__loader__bar--4 {
  animation-delay: 1500ms;
}

/***************header all pages*************/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}

/***************footer all pages*************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}
.footer__list__component {
  display: flex;
  gap: 11px;
}
.footer__list__component__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer__list__component__text--bold {
  font-weight: 500;
}

/*Header-homepage*/
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: #EAEAEA;
  position: relative;
  z-index: 1;
}
.header__location__text {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}

/*Presentation-homepage*/
.homepage-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  padding: 39px 0 57px;
}
.homepage-presentation__h1 {
  padding: 0 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.homepage-presentation__subtitle {
  padding: 0 30px 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

/*Instruction section -homepage*/
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 20px 0;
  margin-bottom: 68px;
}
.instructions__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}
.instructions__list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding-left: 10px;
}
.instructions__list__component {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 29px 38px 33px 0;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.instructions__list__component__numbers {
  position: absolute;
  left: 20px;
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  font-size: 14.182px;
  font-weight: 500;
  color: #F6F6F6;
}
.instructions__list__component__icon {
  margin-left: 33px;
}
.instructions__list__component__text {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

/*Restaurant -homepage*/
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 54px 20px 66px;
  background-color: #F6F6F6;
}
.restaurant__title {
  align-self: flex-start;
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 700;
}
.restaurant__card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 18px;
}
.restaurant__card__img {
  position: relative;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
}
.restaurant__card__nametag-new {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__card__title {
  margin: 13px 0 5px 13px;
  font-size: 18px;
  font-weight: 700;
}
.restaurant__card__subtitle {
  margin: 0 0 12px 13px;
  font-size: 17px;
  font-weight: 300;
}
.restaurant__card__heart-btn {
  position: absolute;
  right: 15px;
  bottom: 25px;
}/*# sourceMappingURL=main.css.map */